{% extends 'base.html' %}
{% block content %}
{{block.super}}
<h1>{{current_user.username}}</h1> </h1>


<div class="row">
    {% for item in pictures %}
    <div class="col-md-3">
        <div class="card index">
    <div class="top">
        <h4>{{item.title}}</h4>
    </div>
    <img src="{{item.picture.url}}" alt="pic" class="img-responsive">
    <div class="foot">

        <a href="#" > <i class="bi bi-heart"></i></a>

        

        <a href="#"><i class="bi bi-chat"></i></a>
        <a href="#"><i class="bi bi-send"></i></a>
        <p>{{item.author}} </p>
        <p><small>{{item.published}}</small>  </p>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.id}} ">
    View
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{item.id}}" tabindex="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{item.title}}</h5>
          <div class="image">
            <img src="{{item.picture.url}}" alt="pic" class="img-responsive">
          </div>
          <div class="foot">

            <a href="#" > <i class="bi bi-heart"></i></a>
    
            
    
            <a href="#"><i class="bi bi-chat"></i></a>
            <a href="#"><i class="bi bi-send"></i></a>
            <p>{{item.author}} </p>
            <p><small>{{item.published}}</small>  </p>
        </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

</div>
    </div>

{% endfor %}
</div>

<div class="footer">
    <a>tori-bot   c 2022   Victoria Makena</a>

</div>
{% endblock %}