<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" alt="logo">
      </a>
      <form class="d-flex search" action="{% url 'search' %}">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="search" class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %} "><i class="bi bi-house-door-fill"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %} "><i class="bi bi-send"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_pic'%} "><i class="bi bi-plus-square"></i></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#" ><i class="bi bi-compass"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ><i class="bi bi-heart"></i></a>
          </li>


          <div class="dropdown">
            <a class="btn  " href="# " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
          
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" href="{% url 'profile' %} ">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              
              <li><a class="dropdown-item" href="{% url 'django_registration_register' %} ">Switch Account</a></li><hr>
              <li><a class="dropdown-item" href="/logout ">Logout</a></li>
            </ul>
          </div>
        </ul>
        
      </div>
    </div>
  </nav>
</html>