{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="row">
    <div class="col-md-4">
        {% if profile.profile_picture %}
        <img class="profilepic" src="{{profile.profile_picture.url}} " alt="profilepic">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h2>{{user.username}} Profile </h2>
        
        <p>{{profile.bio}} </p>
        <a href="{% url 'profile_form' user.id %} "><button>Update Profile</button> </a>
    </div>
</div>
<br>
<hr>
<br>

<div class="row">
  {% for item in user_pics %}
<div class="col-md-3">
 <div class="card">
<img src="{{item.picture.url}} " alt="pic">

</div>   
</div>

{% empty %}
<h2>No posts yet!</h2>
{% endfor %}

{% endblock %}  
</div>