{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        {% if profiles %}
        <h2>Found {{ profiles|length }} items for {{message}}</h2>
        {% else %}
        <div class="row">
            <div class="col-md-3">
                <h3 class="error">Try again...</h3>
            </div>
            <div class="col-md-9">
             <img src="https://media.istockphoto.com/photos/sad-vintage-robot-picture-id178609609?b=1&k=20&m=178609609&s=170667a&w=0&h=QDh5W52dPoP0plIO5enYqFG6fFis9_-0cd-NjrbAJwU=" alt="sad">   
            </div>
        </div>
        
        {% endif %}
    </div>
    
        {% if profiles %}
        
        
            {% for profile in profiles %}
            <div class="row">
                <div class="col-md-4">
                    <img class="profilepic" src="{{profile.profile_picture.url}} " alt="profilepic">
                </div>
                <div class="col-md-8">
                    <h2>{{selected.username}} Profile </h2>
            
                    
            
                    <h4>BIO</h4>
                    <p>{{profile.bio}} </p>
                    
                </div>
            </div>
            <br>
            <div class="counts">
                <p>{{posts.count}} posts </p>
                <p>{{selected.followers.count}} followers </p>
                <p>{{selected.following.count}} following </p>
            </div>
            <hr>
            <br>
            
            <div class="row">
              {% for item in pictures %}
            <div class="col-md-3">
             <div class="card">
            <img src="{{item.picture.url}} " alt="pic">
            
            </div>   
            </div>
            
            {% empty %}
            <h2>No posts yet!</h2>
            {% endfor %}
            
             
            </div>
          
               
            
            {% empty %}
          <h4>No profile was returned</h4>
            {% endfor %}
        
        
            
        
        {% endif %} 
      
    </div>

{% endblock %}