.navbar-brand img{
    height: 7vh;
    width: 12vw;
}
.bi{
    font-size: 1rem;
    margin-left: 1vw;
}
nav{
    height: 7vh;
    width: 100vw;
    background-color: brown;
    color: red;
}
.search{
    height: 5vh;
}
.index{
    margin-top: 5vh;
    position: relative;
    left: 20%;
   
}
.image img{
    width: 100%;
    object-fit: cover;
    background-color: aqua;
}
.modal-body{
    max-width: 100%;
}
.top{
    margin:2vh 2vw;
}
.foot{
    margin: 2vh 2vw;
}
button{
    border-radius: 5px;
    border: 1px solid black;
    border: 1rem;
    margin-bottom: 3vh;
}
.error{
    color: red;
    margin-top: 15vh;
}
.container{
    
    width: 90%;
    position: absolute;
    left: 8%;
}
i:hover{
    color: green;
}
.footer{
    text-align: center;
    color: grey;
    margin: 0 5vh;
}
#search{
    background-color: transparent;
    border: none;
    color: black;
}
#search:hover{
    color: green;
}
.profilepic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.tinypic{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.suggest{
    position: fixed;
}
#comment{
    margin: 1vh 1vw;
    border-radius: 5px;
  
}
.input-group button{
    margin:2vh 1vw;
}
a{
    text-decoration: none;
}
.oneuserpics{
    height: 40vh;
    
}
